html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; }

.btnDetails {
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  height: 41px;
  width: 157px;
  font-weight: 700;
  line-height: 19px;
  display: block;
  background: #7E53FD;
  color: white;
  box-shadow: 0px 9px 24px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 9px 24px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 9px 24px 0px rgba(0, 0, 0, 0.15); }
  .btnDetails a {
    color: white; }

.whiteBtn a {
  color: #7E53FD; }

.navbar {
  height: 70px;
  text-align: center;
  background-color: #FFFFFF;
  box-shadow: 0px 9px 24px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 9px 24px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 9px 24px 0px rgba(0, 0, 0, 0.15);
  z-index: 8; }
  .navbar__left__title {
    font-family: "Nanum Gothic", sans-serif; }
  .navbar__right__menu {
    display: inline; }
    .navbar__right__menu__list {
      margin-top: auto;
      margin-bottom: auto; }
      .navbar__right__menu__list__item {
        display: inline;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        color: #000000; }

.jumbo {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  margin-top: 57px;
  margin-bottom: 60px;
  padding: 100px; }
  .jumbo__left {
    height: auto; }
    .jumbo__left__title {
      font-family: "Nanum Gothic", sans-serif;
      font-size: 35px; }
    .jumbo__left__description {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 18px; }
    .jumbo__left__input {
      border: none;
      width: 300px;
      padding: 10px;
      padding-right: 70px;
      font-size: 12px;
      margin-bottom: 20px;
      box-shadow: 0px 9px 24px 0px rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: 0px 9px 24px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 9px 24px 0px rgba(0, 0, 0, 0.15); }
  .jumbo__right {
    position: relative;
    top: 0;
    left: 0;
    height: auto; }
    .jumbo__right__img__1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 429px;
      height: 226.67px;
      z-index: 5; }
    .jumbo__right__img__2 {
      position: absolute;
      top: -170px;
      left: -34px;
      width: 518.57px;
      height: 518.57px;
      z-index: 4; }
    .jumbo__right__img__3 {
      position: absolute;
      top: -64px;
      left: 39px;
      width: 195px;
      height: 187px;
      z-index: 3; }
    .jumbo__right__img__4 {
      position: absolute;
      top: 87px;
      left: 253px;
      width: 200.33px;
      height: 200.33px; }
    .jumbo__right__img__5 {
      position: absolute;
      top: 94px;
      left: 213px;
      width: 15px;
      height: 15px;
      z-index: 7; }
    .jumbo__right__img__6 {
      position: absolute;
      top: 73px;
      left: 185px;
      width: 68px;
      height: 68px;
      z-index: 6; }

.platforms {
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 250px;
  margin-top: 100px; }
  .platforms__img {
    width: 10%; }

.projects {
  position: relative;
  top: 0;
  left: 0;
  height: 400px;
  margin-top: 100px;
  margin-bottom: 200px; }
  .projects__projImgs {
    position: relative;
    top: 0;
    left: 0; }
    .projects__projImgs__backImg {
      margin-top: 3%;
      position: relative;
      top: 1%;
      right: 0%;
      z-index: -1;
      width: 86%; }
    .projects__projImgs__img {
      margin-top: auto;
      margin-bottom: auto;
      display: block; }
      .projects__projImgs__img__1 {
        position: absolute;
        top: -8%;
        right: 50%;
        z-index: 3;
        width: 100%; }
      .projects__projImgs__img__2 {
        position: absolute;
        top: -8%;
        right: 17%;
        z-index: 2;
        width: 100%; }
      .projects__projImgs__img__3 {
        position: absolute;
        top: -8%;
        right: 0%;
        z-index: 1;
        width: 100%;
        padding-right: 0px; }
  .projects__btnList {
    position: relative;
    top: 73%;
    left: 40%;
    display: inline-block;
    height: auto;
    width: auto; }
    .projects__btnList__btn {
      display: inline-block;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 14px;
      border: 1px solid #7E53FD;
      color: #7E53FD;
      background-color: white;
      width: 150px;
      margin-right: 10px; }

.team {
  margin-bottom: 200px; }
  .team__box {
    position: relative;
    top: 0px;
    left: 0px;
    height: 700px; }
    .team__box__title {
      position: absolute;
      bottom: 50%;
      left: 0%;
      width: 100%;
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      font-size: 38px;
      color: #38394F;
      margin-left: auto;
      margin-right: auto; }
    .team__box__img__1 {
      position: absolute;
      top: 8.3%;
      left: 8.1%;
      width: 20%; }
    .team__box__img__2 {
      position: absolute;
      top: 4.3%;
      left: 37%;
      width: 20%; }
    .team__box__img__3 {
      position: absolute;
      top: 3%;
      left: 64%;
      width: 20%; }
    .team__box__img__4 {
      position: absolute;
      top: 24%;
      left: 77%;
      width: 20%; }
    .team__box__img__5 {
      position: absolute;
      top: 56%;
      left: 66%;
      width: 20%; }
    .team__box__img__6 {
      position: absolute;
      top: 40%;
      left: 10%;
      width: 20%; }
    .team__box__img__7 {
      position: absolute;
      bottom: 9%;
      left: 30%;
      width: 20%; }

.customSolutions__title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 85px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700; }
.customSolutions__rowSection {
  height: 250px; }
  .customSolutions__rowSection__list {
    height: auto;
    width: 100%; }
    .customSolutions__rowSection__list__img {
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      display: block; }
  .customSolutions__rowSection__box {
    position: relative;
    height: 450px;
    width: 100%;
    z-index: 1; }
    .customSolutions__rowSection__box__img__1 {
      position: absolute;
      bottom: 0;
      top: -36px;
      right: 0px;
      left: 0px;
      width: 93%;
      height: 100%;
      z-index: 2; }
    .customSolutions__rowSection__box__img__2 {
      position: absolute;
      bottom: 18%;
      right: 40%;
      width: 25%;
      height: 75%;
      display: inline-block;
      z-index: 3; }
    .customSolutions__rowSection__box__img__3 {
      position: absolute;
      bottom: 18%;
      right: 10.9%;
      height: 75%;
      width: 29%;
      z-index: 3; }
    .customSolutions__rowSection__box__textBox {
      border-top: 10px solid #38AF43;
      position: absolute;
      bottom: 27%;
      left: 4%;
      width: 31%;
      height: 75%;
      z-index: 4;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      padding: 20px; }
      .customSolutions__rowSection__box__textBox__h3 {
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        font-weight: 600; }
      .customSolutions__rowSection__box__textBox__p {
        font-size: 12px;
        font-family: "Open Sans", sans-serif;
        font-weight: 400; }
.customSolutions__footer {
  background-color: #38394F;
  height: 300px;
  margin-top: auto;
  margin-bottom: auto;
  z-index: -2; }
  .customSolutions__footer__center {
    display: block;
    padding-top: 150px;
    margin-right: auto;
    margin-left: auto; }
    .customSolutions__footer__center__p {
      color: white;
      font-size: .8rem;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      display: block;
      margin-right: auto;
      margin-left: auto;
      text-align: center; }
    .customSolutions__footer__center__btn {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 12px;
      color: white;
      background-color: #7E53FD;
      display: block;
      margin-right: auto;
      margin-left: auto;
      padding: 3px; }

/* On screens that are 991px or less, set the background color to blue */
@media screen and (max-width: 991px) {
  .jumbo__left {
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
    .jumbo__left__title {
      font-size: 3rem; }
    .jumbo__left__description {
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: 1.5rem;
      font-weight: 300; }
    .jumbo__left__input {
      width: 50%; }
    .jumbo__left__btn {
      text-align: center;
      margin-left: auto;
      margin-right: auto; }

  .platforms {
    margin-top: 75px;
    width: 77%; } }
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .navbar {
    height: 10%; }
    .navbar__right__menu__list__item {
      font-size: 12px; }

  .jumbo {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px; }
    .jumbo__left {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 30px; }
      .jumbo__left__title {
        font-size: 18px; }
      .jumbo__left__description {
        margin-top: 10px;
        margin-bottom: 40px;
        font-size: 12px;
        font-weight: 300; }
      .jumbo__left__input {
        width: 100%; }
      .jumbo__left__btn {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%; }
    .jumbo__right {
      display: none; }

  .platforms {
    margin-top: 75px;
    width: 77%; } }

/*# sourceMappingURL=style.css.map */
